/* Custom Tags */
[hover] {
    border-radius: 9999px;
    padding: 16px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.25);
}

[hover="bump_in"]:hover {
    animation: bump_in 200ms linear 0s 1 normal;
    animation-fill-mode: forwards;
}

[hover="bump_out"]:hover {
    animation: bump_out 200ms linear 0s 1 normal;
    animation-fill-mode: forwards;
}

/* Animation Managers */
@keyframes bump_in {
    from {
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
            5px 5px 10px rgba(0, 0, 0, 0.25);
    }

    to {
        box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
            1px 1px 5px rgba(0, 0, 0, 0.3),
            inset -2px -2px 5px rgba(255, 255, 255, 1),
            inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

@keyframes bump_out {
    from {
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
            5px 5px 10px rgba(0, 0, 0, 0.25);
    }

    to {
        box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
            1px 1px 5px rgba(0, 0, 0, 0.3);
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}