noticearea {
    background: rgba(255, 10, 10, 0.5);
    position: absolute;
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    left: 2%;
    right: 2%;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

notice {
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 425;
}

notice>icon[type="3"] {
    transform: translateY(20%);
}

lb {
    display: block;
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: var(--trans);
    color: var(--trans);
}

error {
    position: relative;
    background-color: rgba(255, 0, 0, 0.4);
    text-align: center;
}

errormsg {
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
}

errormsg::before,
errormsg::after {
    content: "  âŒ  ";
}

error p {
    font-size: 32px;
    font-family: 'Assistant';
    font-weight: 1000;
}

error p::before {
    content: "DETAILS: ";
}

/* Icon Elements */

[ch] {
    color: var(--trans) !important;
}

[ns],
[ns]>* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

[rbt] {
    background-image: repeating-linear-gradient(to right,
            red 9%,
            blue 18%,
            red 27%,
            blue 36%,
            red 45%,
            blue 54%,
            red 63%,
            blue 72%,
            red 81%,
            blue 90%,
            red 99%);
    text-shadow: 1px 1px black;
    text-align: center;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 24px;
    animation: rainbow 2s linear infinite;
}