/* Fonts */

@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Assisstant1.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/materialIcons.woff2') format('woff2');
}

@font-face {
    font-family: "IcoFont";
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/icofont.woff2") format("woff2"),
        url("../../fonts/icofont.woff") format("woff");
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/materialSymbolsOutlined.woff2") format('woff2');
}

@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/materialSymbolsSharp.woff2") format('woff2');
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/materialSymbolsRounded.woff2") format('woff2');
}

/* Custom Elements */

noticearea {
    background: rgba(255, 10, 10, 0.5);
    position: absolute;
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    left: 2%;
    right: 2%;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

notice {
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 425;
}

notice>icons3 {
    transform: translateY(20%);
}

lb {
    display: block;
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: var(--trans);
    color: var(--trans);
}

error {
    position: relative;
    background-color: rgba(255, 0, 0, 0.4);
    text-align: center;
}

errormsg {
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
}

errormsg::before,
errormsg::after {
    content: "  âŒ  ";
}

error p {
    font-size: 32px;
    font-family: 'Assistant';
    font-weight: 1000;
}

error p::before {
    content: "DETAILS: ";
}

icons3 {
    font-weight: normal;
    font-style: normal;
    font-size: var(--ifs);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

icons3.outline {
    font-family: 'Material Symbols Outlined';
}

icons3.rounded {
    font-family: 'Material Symbols Rounded';
}

icons3.sharp {
    font-family: 'Material Symbols Sharp';
}

icons2 {
    font-family: 'IcoFont';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    font-size: var(--ifs);
    transform: translateY(25%);
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: var(--ifs);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    transform: translateY(23%);
}

.dark {
    color: var(--dark700);
}

.dark.inactive {
    color: var(--dark300);
}

.light {
    color: rgba(255, 255, 255, 1);
}

.light.inactive {
    color: rgba(255, 255, 255, 0.3);
}

.ff {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 40;
}

[ch] {
    color: var(--trans) !important;
}

[ns],
[ns]>* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

[rbt] {
    background-image: repeating-linear-gradient(to right,
            red 9%,
            blue 18%,
            red 27%,
            blue 36%,
            red 45%,
            blue 54%,
            red 63%,
            blue 72%,
            red 81%,
            blue 90%,
            red 99%);
    text-shadow: 1px 1px black;
    text-align: center;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 24px;
    animation: rainbow 2s linear infinite;
}

/* Navigation Management */

.navigation nav {
    padding-bottom: 10px;
}

.navigation nav ul {
    text-align: center;
    list-style-type: none;
    background-color: #B577B5;
    border: 2px solid Black;
    border-radius: 10px;
    font-weight: bold;
    padding: 16px;
    width: fit-content;
    margin: auto;
}

.navigation nav ul li {
    display: inline;
    border-right: 2px solid var(--dark800);
    padding-right: 8px;
    padding-left: 8px;
}

.navigation nav ul li:last-child {
    border-right: none;
}

.navigation nav ul li a {
    text-decoration: none;
    color: var(--dark800)
}

.navigation nav li.selelcted {
    color: var(--dark300)
}

.navigation nav ul li a:hover {
    text-decoration: underline;
}

/* SVG Background */

:root {
    min-width: var(--mvw);
    width: var(--mvw);
    max-width: var(--mvw);
    height: var(--mvh);
    font-family: 'Assistant', sans-serif;
}

html {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://combinatronics.com/sparty182020/imagehost/main/background1.svg");
}

/* Extras */

.title {
    color: black;
    font-size: 48px;
    font-size: bolder;
    text-decoration: underline red 4px;
}

/* Page Locking */

#login {
    border: 3px solid black;
    border-radius: 8px;
    padding: 16px;
    width: 500px;
    height: 200px;
    background: var(--dark200);
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#login>label {
    font-size: 32px;
    margin-bottom: 15px;
}

#login>input {
    height: 20px;
    border: 2px solid green;
    border-radius: 4px;
    bottom: 3px;
    position: relative;
    font-size: 16px;
}

#login>label,
#login>input {
    top: 10%
}

#login>input:focus {
    background-color: #4B4B4B;
    border: 2px solid green;
    border-radius: 4px;
}

#pswCheck {
    font-size: 32px;
}

#pswCheck>icons3 {
    transform: translateY(8px);
}

#blocker {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    display: block;
    visibility: visible;
}

/* Custom Vars */

:root {
    --rtb: linear-gradient(45deg, red, blue);
    --dark000: #696969;
    --dark100: #545454;
    --dark200: #4B4B4B;
    --dark300: #454545;
    --dark400: #404040;
    --dark500: #353535;
    --dark600: #272727;
    --dark700: #1A1A1A;
    --dark800: #121212;
    --dark900: #040404;
    --trans: rgba(0, 0, 0, 0);
    --mvw: 100vw;
    --mvh: 100vh;
    --ma: 100%;
    --ifs: 36px;
    --translatec: translate(-50%, -50%);
}

/* Keyframes */

@keyframes rainbow {
    from {
        background-position: 0% 50%
    }

    to {
        background-position: 100% 25%
    }
}

@keyframes scale-up-center {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}