/* Navigation Management */

.navigation nav {
    padding-bottom: 10px;
}

.navigation nav ul {
    text-align: center;
    list-style-type: none;
    background-color: #B577B5;
    border: 2px solid Black;
    border-radius: 10px;
    font-weight: bold;
    padding: 16px;
    width: fit-content;
    margin: auto;
}

.navigation nav ul li {
    display: inline;
    border-right: 2px solid var(--dark800);
    padding-right: 8px;
    padding-left: 8px;
}

.navigation nav ul li:last-child {
    border-right: none;
}

.navigation nav ul li a {
    text-decoration: none;
    color: var(--dark800)
}

.navigation nav li.selected {
    color: var(--dark300)
}

.navigation nav ul li a:hover {
    text-decoration: underline;
}

/* SVG Background */

:root {
    min-width: var(--mvw);
    width: var(--mvw);
    max-width: var(--mvw);
    height: var(--mvh);
    font-family: 'Assistant', sans-serif;
}

html {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://combinatronics.com/sparty182020/imagehost/main/background1.svg");
}

/* Extras */

.title {
    color: black;
    font-size: 48px;
    font-size: bolder;
    text-decoration: underline red 4px;
}

/* Custom Vars */

:root {
    --rtb: linear-gradient(45deg, red, blue);
    --dark000: #696969;
    --dark100: #545454;
    --dark200: #4B4B4B;
    --dark300: #454545;
    --dark400: #404040;
    --dark500: #353535;
    --dark600: #272727;
    --dark700: #1A1A1A;
    --dark800: #121212;
    --dark900: #040404;
    --trans: rgba(0, 0, 0, 0);
    --mvw: 100vw;
    --mvh: 100vh;
    --ma: 100%;
    --ifs: 36px;
    --translatec: translate(-50%, -50%);
}

/* Keyframes */

@keyframes rainbow {
    from {
        background-position: 0% 50%
    }

    to {
        background-position: 100% 25%
    }
}

@keyframes scale-up-center {
    to {
        transform: scale(1.1);
    }
}