.navigation nav ul {
    text-align: center;
    list-style-type: none;
    background-color: #B577B5;
    border: 2px solid Black;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 16px;
    width: fit-content;
    margin: auto;
}

.navigation nav ul li {
    display: inline;
    border-right: 2px solid #111111;
    padding-right: 8px;
    padding-left: 8px;
}

.navigation nav ul li:last-child {
    border-right: none;
}

.navigation nav ul li a {
    text-decoration: none;
    color: #111111;
}

.navigation nav li.selected {
    color: #606060;
}

.navigation nav ul li a:hover {
    text-decoration: underline;
}