:root {
    background: rgb(127, 127, 127, 1);
    animation: hue_rotate var(--rot-time) linear infinite;
}

form {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 80px;
    width: max-content;
    padding: 34px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background: rgba(100, 100, 100, 0.5);
}

form * {
    width: min-content;
    text-align: center;
    padding: 10px;
    color: red;
}

button {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50px;
    width: 200px;
}

input {
    border-radius: 20px;
    background-color: rgba(127,127,127,0.5);
}