.buttonarea {
    background: rgba(0,255,0,1);
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    border: transparent;
    border-radius: 16px;
}
.ctab {
    border: transparent;
    border-radius: 8px;
    padding: 8px;
    color: darkgray;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background: linear-gradient(45deg,red,blue);
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}