#lockNotice {
    display: block;
    height: 100%;
    width: 100%;
    border: 16px solid red;
    border-radius: 16px;
    background-color: orange;
}

#lcokNotice h1 {
    color: red;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#lockNotice h1 icons2 {
    color: black;
}

#blocker {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    display: block;
    visibility: visible;
}